@media only screen and (max-width: 1140px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        height: 478px;
        flex-direction: column;
        transition: all 0.7s ease-out;
    }
      
    .h-nav-resp{
        height: 72px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .section{
        flex-direction: column-reverse;
    }
    .text-small{
        text-align: center;
    }
    .text-big{
        text-align: center;
    }
    .buttons{
        text-align: center;
    }
    .paras{
        padding: 0px;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .burger{
        display: block;
    }
    .form-resp{
        max-width: 85%;
        height: 440px;
    }
    .btn-sm{
        width: 25%;
        margin-left: 74%;
    }
  
}    