*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html{
    scroll-behavior: smooth;
  }

  /*-----background----*/
 
  .firstSection{
    width: auto;
    background: url(../img/img1.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: darken;
    padding: 3%;
  }

  /*fitstSection*/

  .firstSection{
    height: 100vh;
  }

  /*-----logo--------*/

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 35%;
    border: 2px solid rgb(245, 239, 239);
    border-radius: 50px;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0%;
  cursor: pointer;
}

.nav-list{
  width: 70%;
  display: flex;
  align-items: center;
}

.nav-list li{
  list-style: none;
  padding: 26px 30px;
}

.nav-list li a{
  text-decoration: none;
  color: white;
  font-size: 23px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-list li a:hover{
  color: gray;
}


 
/*login/register form*/

#login-form{
    display: none;
}

.form-box{
    width: 336px;
    height: 490px;
    position: relative;
    margin: 0% auto;
    background: rgba(239 3 3 / 30%);
    padding: 10px;
    overflow: hidden;
}

.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #c724071f;;
    border-radius: 30px;
  }
  
  .toggle-btn{
    padding: 10px 29px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    font-size: 15px;
  }
  
  #btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: maroon;
    border-radius: 30px;
    transition: .5s;
  }
  
  .input-group-login{
    top: 150px;
    position: absolute;
    width: 280px;
    transition: .5s;
  }
  
  .input-group-register{
    top: 120px;
    position: absolute;
    width: 280px;
    transition: .5s;
  }
  
  .input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(101, 95, 95);
    outline: none;
    background: transparent;
  }
  
  .submit-btn{
    width: 85%;
    padding: 10px 29px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: maroon;
    border: 0;
    outline: none;
    border-radius: 30px;
    font-size: 15px;
  }
  
  .check-box{
    margin: 30px 10px 34px 0;
  }
  
  span{
    color: black;
    font-size: 14px;
    bottom: 73px;
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  #login{
    left: 50px;
  }
  
  #login input{
    color: rgb(71, 67, 67);
    font-size: 15;
  }
  
  #register{
    left: 450px;
  }
  
  #register input{
    color: rgb(71, 67, 67);
    font-size: 15;
  } 

  ::-webkit-input-placeholder{
    color: black;
    font-size: 12px;
  }

  :focus::-webkit-input-placeholder{
    opacity: 0.5;
  }


.text-big{
    font-size: 42px;
}

.text-small{
    font-size: 19px;
}

.section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
  
  }
  
  .section-left{
    flex-direction: row-reverse;
  }
  .paras{
    padding: 0px 65px;
  }
  
  .sectionTag{
    padding: 16px 0;
  }
  
  .sectionSubTag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .thumbnail img {
    width: 250px;
    height: 150px;
    border: 3px solid black;
    border-radius: 10px;
    margin-top: 90px; 
  }


  .text-footer{
  text-align: center;
  padding: 30px 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
  color: rgb(234, 228, 228);
}

.background{
    background-color: maroon;
    width: auto;
  }

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5px;
    top: 15px;
  }

  .line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
  } 


  
  .wrapper{
    background: url(../img/img1.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: darken;
    padding: 5%;
    padding-bottom: 10%;
  }
  .wrapper h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    margin-bottom: 60px;
    text-align: center;
  }
  .team{
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;
    flex-wrap: wrap;
  }
  .team .team-member{
    background-color: white;
    margin: 5px;
    margin-bottom: 50px;
    border-radius: 4%;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    color: black;
    position: relative;
  }
  .team .team-member h3{
    color: rgb(135, 85, 85);
    font-size: 26px;
    margin-top: 50px;
  }
  .team .team-member p.role{
    color: black;
    font-size: 12px;
    text-transform: uppercase;
    margin: 12px 0;
  }
  .team .team-member .team-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
  }
  .team .team-member .team-img img{
    width: 100px;
    height: 100px;
    padding: 10px;
  }
  

  .contact{ 
    height: 640px;
}


.text-center{
    text-align: center;
    padding-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
}

.form{
    max-width: 50%;
    margin: 25px auto;
    height: 435px;
    position: relative;
    margin: 0% auto;
    background: rgba(239 3 3 / 30%);
    padding: 10px;
    overflow: hidden;
}


.form-input{
    margin: 8px 0;
    padding: 3px 10px;
    width: 100%;
    font-size: 16px;
    border: 2px solid gray;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn {
  width: 12%;
  padding: 5px 0px;
  cursor: pointer;
  display: block;
  margin-left: 87%;
  background: maroon;
  border-radius: 7px;
  font-size: 15px;
}

.burger{
  display: none;
  position: absolute;
  cursor: pointer;
  right: 5px;
  top: 15px;
}
.line{
  width: 33px;
  background-color: white;
  height: 4px;
  margin: 5px 3px;
}  











